  
  
    <footer>
        <div class="icons">
        <a href= "https://business.facebook.com/OfficialTHENX/" ><i class="fa fa-facebook"></i></a>
        <a href= "https://www.instagram.com/thenx/?hl=en" ><i class="fa fa-instagram"></i></a>
        <a href= "https://twitter.com/officialthenx?lang=en" ><i class="fa fa-twitter"></i></a>
        <a href= "https://www.youtube.com/channel/UCqjwF8rxRsotnojGl4gM0Zw" ><i class="fa fa-youtube"></i></a>
    </footer>

</body>