

<head>
  <link rel="stylesheet" href="/static/css/login.css">
  <link rel="stylesheet" href="/static/css/style.css"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/gotham">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="website-container">

  <header class="website-header">
    <h1>Blunder</h1> 
    <a href="./index.html"><img src="./CSS/images/logo.png" /></a>
    <h2>.com </h2>
    <canvas>  </canvas>
    <button class="login"><h4>Login</h4></button>
    <button class="register"><h4>Register</h4></button>
  </header>

  <section class="website-container-body">