
<body class="website-container">
  <header class="website-header">
    <h1>Blunder</h1>
    <a href="./index"> <img class="logo" src="static/images/website/logo.png" /></a>
    <h2>.com </h2>
    <canvas></canvas>

    <div class="profile">
      <img class="profile-pic" src="static/images/website/profile.png" />
      <h1><span>  name  </span></h1>                                              
    </div>
  </header>