
    <sidebar class="sidebar-1 w-sidebar">
      <div id="tiles"></div>
      <ul>
        <li><a href="#">Play</a></li>
        <li> <a href="#">Puzzles</a></li>
        <li><a href="#">Learn</a></li>
        <li><a href="#">About</a></li>
      </ul>
  
    </sidebar>

    <sidebar class="sidebar-2 w-sidebar">

      <section class="inner_board_section">
        <h5> Leaderboard </h5>
        <% for (let i=0; i < 8; i++) { %>
          <div class="board_content">
            <div class="img">
              <img src="/static/images/website/profile1.png" alt="picture_1">
            </div>
            <div class="player">
              <p><span>
                  <h3></h3>
                </span>
              <h3>jorgexcc</h3>
              </p>
              <div class="score_bar_wrap">
                <div class="score_bar"></div>
              </div>
            </div>
            <div class="points">
              <p><span>
                  <h3></h3>
                </span>
              <h3>300</h3>
              </p>
            </div>
          </div>
          <% } %>


      </section>



    </sidebar>

  </section>

  <footer>
    <div class="icons">
      <a href="https://business.facebook.com/OfficialTHENX/"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/thenx/?hl=en"><i class="fa fa-instagram"></i></a>
      <a href="https://twitter.com/officialthenx?lang=en"><i class="fa fa-twitter"></i></a>
      <a href="https://www.youtube.com/channel/UCqjwF8rxRsotnojGl4gM0Zw"><i class="fa fa-youtube"></i></a>
    </div>
  </footer>

  <script src="/static/js/background.js"></script>

</body>






</html>