<sidebar class="sidebar-1 w-sidebar"> 
  <ul>
    <li><a href="#">Play</a></li>
    <li><a href="#">Puzzles</a></li>
    <li><a href="#">Learn</a></li>
    <li><a href="#">About</a></li>
  </ul>


  <div class="icons">
<a href= "https://business.facebook.com/OfficialTHENX/" ><i class="fa fa-facebook"></i></a>
<a href= "https://www.instagram.com/thenx/?hl=en" ><i class="fa fa-instagram"></i></a>
<a href= "https://twitter.com/officialthenx?lang=en" ><i class="fa fa-twitter"></i></a>
<a href= "https://www.youtube.com/channel/UCqjwF8rxRsotnojGl4gM0Zw" ><i class="fa fa-youtube"></i></a>
</div>

</sidebar>

<!-- <sidebar class="sidebar-2 w-sidebar">
  <a href="./index.html"><img src="./CSS/images/sidebar5.png" width="30" /></a>
  <a href="./index.html"><img src="./CSS/images/sidebar2.png" /></a>
</sidebar> -->


</section>
<script src="/static//background.js"></script>
</body>
</html>
