

<sidebar class="sidebar-1 w-sidebar"> 
    <ul>
      <li><a href="#">Play</a></li>
      <li><a href="#">Puzzles</a></li>
      <li><a href="#">Learn</a></li>
      <li><a href="#">About</a></li>
    </ul>

</sidebar>