<sidebar class="sidebar-1 w-sidebar">
  <div id="tiles"></div>
  <ul>
      <li><a href="#">Play</a></li>
      <li> <a href="#">Puzzles</a></li>
      <li><a href="#">Learn</a></li>
      <li><a href="#">About</a></li>
  </ul>

  <a href="/users/logout"> 
    <button class="log-out"><h3>Log out<h3></button>
  </a>
</sidebar>