<sidebar class="sidebar-1 w-sidebar">
  <div id="tiles"></div>
  <ul>
      <li><a href="/chess-game">Play</a></li>
      <li> <a href="/browse-puzzles">Puzzles</a></li>
      <li><a href="/learn">Learn</a></li>
      <li><a href="/about">About</a></li>
  </ul>

  <a href="/users/logout"> 
    <button class="log-out"><h3>Log out<h3></button>
  </a>
</sidebar>