


    <sidebar class="sidebar-2 w-sidebar">
        <a href="./index.html"><img src="./CSS/images/sidebar5.png" width="30" /></a>
        <a href="./index.html"><img src="./CSS/images/sidebar2.png" /></a>
    </sidebar>


</section>