<html>
 
<head>
  <title>About</title>¨
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./static/css/style.css" />
  <link rel="icon" href="./static/images/website/logo.png" >
  <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<%- include("includes/header") %>

  <section class="website-container-body">
    <main class="website-content">
      <h5> About Us</h5>
      <div id="chess-pieces-move" class="preview">
        <div id="" class="description">
          <h2> The Rules Of How To Win A Game Of Chess</h2>
          <p>
          <h3>
            There are several ways to end a game of chess: by checkmate, with a draw, by resignation, by forfeit on time...
          </h3>
          </p>
          <p>
          <h2> How To Checkmate</h2>
          <h3>
            The purpose of the game is to checkmate the opponent's king. This happens when the king is put into
            check and cannot get out of check. There are only three ways a king can get out of check. Move out
            of the way (though he cannot castle!), Block the check with another piece or capture the piece
            threatening the king.
            <br>
            <br>
            Checkmate can happen in the early stages of the game if one of the players does not act carefully.
            Below, you will find an example of the Fools mate, a checkmate that happens in just 2 moves.
          </h3>
          <h2> How To Draw A Game</h2>
          <h3>
            Occasionally chess games do not end with a winner, but with a draw. There are 5 reasons why a chess
            game may end in a draw:
            <br>
            <br>
            The position reaches a stalemate where it is one player's turn to move, but his king is NOT in check
            and yet he does not have another legal move.
            <br>
            <br>
            The players may simply agree to a draw and stop playing
            <br>
            <br>
            There are not enough pieces on the board to force a checkmate (example: a king and a bishop vs. a
            king)
            <br>
            <br>
            A player declares a draw if the same exact position is repeated three times (though not necessarily
            three times in a row)
            <br>
            <br>
            Fifty consecutive moves have been played where neither player has moved a pawn or captured a piece
          </h3>
          </p>
        </div>

        <div class="info-logo">
          <img class="info" src="static/images/website/information.png" />
        </div>
      </div>
    </main>

    <%- include("includes/navbar") %>

  </section>

  <%- include("includes/footer") %>

  <script src="/static/js/background.js"></script>

</body>

</html>








