<html>
 
<head>
  <title>About</title>¨
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./static/css/style.css" />
  <link rel="icon" href="./static/images/website/logo.png" >
  <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<%- include("includes/header") %>

  <section class="website-container-body">
    <main class="website-content">
      <h5> About Blunder.com</h5>
      <img class="team" src="static/images/website/team.png" />
      <div id="chess-pieces-move" class="preview">
        <div id="" class="description">
          <h2> The Beginning</h2>
          <p>
          <h3>
            Chess.com started in 2022 when six friends — Francesco, Raffaele, Cristiano, Giorgio, Hun and George decided the world needed a better chess website. We met 1 years earlier 1 in college, where we all became addicted to chess. We became friends through our shared passion for the game. There were places to play online, but none of them felt like home. We imagined a place where people could build their chess home online and all in one place: to play in a safe and friendly environment, find friends, watch their games, tell their chess stories, share ideas, and learn from each other. Over the third semester we poured our life savings (ok maybe not), our hearts, and most of our waking hours into building Blunder.com. But we never imagined what Blundef.com would become!
          </h3>
          </p>
          <p>
          <h2> Blunder.com Today</h2>
          <h3>
            The purpose of the game is to win. This website allows you two win in our play mode, solve puzzles and learn the basics of chess. We team has worked to develop single mode and multiplayer mode respectfully. If bored to play alone, simply click connect and enjoy a good game of chess. 
            <br>
            
        </div>

        <div class="info-logo">
          <img class="info" src="static/images/website/information.png" />
        </div>
      </div>
    </main>

    <%- include("includes/navbar") %>

  </section>

  <%- include("includes/footer") %>

  <script src="/static/js/background.js"></script>

</body>

</html>








