

<%- include("includes/header") %>


<main class="website_content">

    <!-- CHALLENGES SCROLLABLE -->
    <div>
        <h2>Challenges</h2>
    </div>
    <div class="scrolling_div">
        <div class="cover">
            <div class="scrolling_images">
                <div class="scrolling_img_div"><img class="scrolling_img" src="/static/img/myimg.jpg" alt=""></div>
                <div class="scrolling_img_div"><img class="scrolling_img" src="/static/img/myimg.jpg" alt=""></div>
                <div class="scrolling_img_div"><img class="scrolling_img" src="/static/img/myimg.jpg" alt=""></div>
                <div class="scrolling_img_div"><img class="scrolling_img" src="/static/img/myimg.jpg" alt=""></div>
                <div class="scrolling_img_div"><img class="scrolling_img" src="/static/img/myimg.jpg" alt=""></div>
                <div class="scrolling_img_div"><img class="scrolling_img" src="/static/img/myimg.jpg" alt=""></div>
            </div>
        </div>
    </div>


    <!--  -->
    <div class="separe">
        <h2>Play</h2>
    </div>
    <section class="playing_modes">
        <img src="/static/img/1vs1.jpg" style="height: 150px; width:250px" alt="">
        <img src="/static/img/1vs1.jpg" style="height: 150px; width:250px; padding-left: 40px;" alt="">
    </section>
  
</main>

<%- include("includes/scoreboard")%>
<%- include("includes/navbar") %>









  






