

<%- include("includes/header") %>


<main class="website-content">
  
</main>





<%- include("includes/navbar") %>
<%- include("includes/scoreboard") %>
<%- include("includes/footer") %>







  






