<!DOCTYPE html>
<html>

<head>
    <title>Puzzles</title>
    <link rel="icon" href="./static/images/website/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/css/style.css" />
    <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<%- include("includes/header") %>

    <section class="website-container-body">
        <main class="website-content">
            <h5> Choose the level of the challenge</h5>

            <section class="scroll">
                <div class="row">
                    <div class="programs-k">
                        <img class="level_img" src="static/images/website/one_star.png" />
                        <button id="d1" class="start">
                            <h4>Random</h4>
                        </button>
                        <button style="float:left" class="level-button" onclick="galleryspin('-')">&lt;</button>
                        <button style="float:right" class="level-button" onclick="galleryspin('')">&gt;</button>

                        <div class="members">
                            <div id="carousel">
                                <figure id="spinner">
                                    <img src="/static/images/levels/easy1.jpeg" alt>
                                    <img src="/static/images/website/scroll1.png" alt>
                                    <img src="/static/images/levels/easy2.jpeg" alt>
                                    <img src="/static/images/website/scroll2.png" alt>
                                    <img src="/static/images/levels/easy3.jpeg" alt>
                                    <img src="/static/images/website/scroll3.png" alt>
                                    <img src="/static/images/leves/easy1.jpeg" alt>
                                    <img src="/static/images/website/scroll4.png" alt>
                                    <img src="/static/images/levels/easy2.jpeg" alt>
                                </figure>

                            </div>

                        </div>
                    </div>


                    <div class="programs-k">
                        <img class="width" src="static/images/website/two_star.png" />
                        <button id="d2" class="start">
                            <h4>Random</h4>
                        </button>
                        <button style="float:left" class="level-button" onclick="galleryspin1('-')">&lt;</button>
                        <button style="float:right" class="level-button" onclick="galleryspin1('')">&gt;</button>
                        <div class="members">
                            <div id="carousel">
                                <figure id="spinner1">
                                    <img src="/static/images/levels/mid1.jpeg" alt>
                                    <img src="/static/images/website/scroll1.png" alt>
                                    <img src="/static/images/levels/mid2.jpeg" alt>
                                    <img src="/static/images/website/scroll2.png" alt>
                                    <img src="/static/images/levels/mid3.jpeg" alt>
                                    <img src="/static/images/website/scroll3.png" alt>
                                    <img src="/static/images/leves/easy1.jpeg" alt>
                                    <img src="/static/images/website/scroll4.png" alt>
                                    <img src="/static/images/levels/mid2.jpeg" alt>
                                </figure>
                            </div>

                        </div>
                    </div>

                    <div class="programs-k">
                        <img class="width" src="static/images/website/three_star.png" />

                        <button id="d3" class="start">
                            <h4>Random</h4>
                        </button>
                        <button style="float:left" class="level-button" onclick="galleryspin2('-')">&lt;</button>
                        <button style="float:right" class="level-button" onclick="galleryspin2('')">&gt;</button>
                        <div class="members">
                            <div id="carousel">
                                <figure id="spinner2">
                                    <img src="/static/images/levels/hard1.jpeg" alt>
                                    <img src="/static/images/website/scroll1.png" alt>
                                    <img src="/static/images/levels/hard2.jpeg" alt>
                                    <img src="/static/images/website/scroll2.png" alt>
                                    <img src="/static/images/levels/hard3.jpeg" alt>
                                    <img src="/static/images/website/scroll3.png" alt>
                                    <img src="/static/images/leves/hard1.jpeg" alt>
                                    <img src="/static/images/website/scroll4.png" alt>
                                    <img src="/static/images/levels/hard2.jpeg" alt>
                                </figure>
                            </div>

                        </div>
                    </div>
            </section>
        </main>

        <%- include("includes/navbar") %>
    </section>

    <%- include("includes/footer") %>
        <script src="/static/js/levels.js"></script>
        <script src="/static/js/background.js"></script>
        </body>

</html>