<html>

<head>
    <title>BayrGeo INDEX</title>
    <meta name="author" content="Georgy Batyrev" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/css/style.css" />
    <!-- <link rel="stylesheet" href="./static/css/other-style.css" /> -->

    <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="website-container">
    <header class="website-header">


        <h1>Blunder</h1>
        <a href="./index.html"> <img class="logo" src="static/images/website/logo.png" /></a>
        <h2>.com </h2>
        <canvas></canvas>

        <div class="profile">
            <img class="profile-pic" src="static/images/website/profile.png" />
            <h1>Name</h1>
        </div>

    </header>

    <section class="website-container-body">
        <main class="website-content">

            <h5> How to Play Chess: Advice On How To Get Started</h5>
            <section class="website-content-text">



                <h3> It's never too late to learn how to play chess—the most popular game in the world!
                </h3>






            </section>

            <div id="rules">
                
                
                    <div id="please1">
                        <h3>Board set-up</h3>
                        <img class="width" src="static/images/website/board_real.png" />
                      


                    </div>
             
                      

            </div>
            <div id="chess-pieces-move" class="preview">

                <div class="whiteboard">
                    <div id="please">

                        <img class="profile-pic" src="static/images/website/click.png" />
                        <h3>(Learn To Move The Pieces by clicking on them)</h3>


                    </div>
                    <div id="myDIV">
                    </div>
                </div>

                <div class="chessboard">

                    <!-- 8th -->
                    <div class="white"><button class="chesspiece" id="chess_button_rook"><img
                                src="/static/images/chesspieces/blackRook.png"></button></div>
                    <div class="black"><button class="chesspiece" id="chess_button_horse"><img
                                src="/static/images/chesspieces/blackHorse.png"></button></div>
                    <div class="white"><button class="chesspiece" id="chess_button_bishop"><img
                                src="/static/images/chesspieces/blackBishop.png"></button></div>
                    <div class="black"><button class="chesspiece" id="chess_button_queen"><img
                                src="/static/images/chesspieces/blackQueen.png"></button></div>
                    <div class="white"><button class="chesspiece" id="chess_button_king"><img
                                src="/static/images/chesspieces/blackKing.png"></button></div>
                    <div class="black"><button class="chesspiece" id="chess_button_bishop1"><img
                                src="/static/images/chesspieces/blackBishop.png"></button></div>
                    <div class="white"><button class="chesspiece" id="chess_button_horse1"><img
                                src="/static/images/chesspieces/blackHorse.png"></button></div>
                    <div class="black"><button class="chesspiece" id="chess_button_rook1"><img
                                src="/static/images/chesspieces/blackRook.png"></button></div>

                    <div class="black"><button class="chesspiece" id="chess_button_pawn"><img
                                src="/static/images/chesspieces/blackPawn.png"></button></div>
                    <div class="white"><button class="chesspiece" id="chess_button_pawn1"><img
                                src="/static/images/chesspieces/blackPawn.png"></button></div>
                    <div class="black"><button class="chesspiece" id="chess_button_pawn2"><img
                                src="/static/images/chesspieces/blackPawn.png"></button></div>
                    <div class="white"><button class="chesspiece" id="chess_button_pawn3"><img
                                src="/static/images/chesspieces/blackPawn.png"></button></div>
                    <div class="black"><button class="chesspiece" id="chess_button_pawn4"><img
                                src="/static/images/chesspieces/blackPawn.png"></button></div>
                    <div class="white"><button class="chesspiece" id="chess_button_pawn5"><img
                                src="/static/images/chesspieces/blackPawn.png"></button></div>
                    <div class="black"><button class="chesspiece" id="chess_button_pawn6"><img
                                src="/static/images/chesspieces/blackPawn.png"></button></div>
                    <div class="white"><button class="chesspiece" id="chess_button_pawn7"><img
                                src="/static/images/chesspieces/blackPawn.png"></button></div>

                    <!-- 3th -->
                    <div class="white"></div>
                    <div class="black"></div>
                    <div class="white"></div>
                    <div class="black"></div>
                    <div class="white"></div>
                    <div class="black"></div>
                    <div class="white"></div>
                    <div class="black"></div>
                    <!-- 4st -->
                    <div class="black"></div>
                    <div class="white"></div>
                    <div class="black"></div>
                    <div class="white"></div>
                    <div class="black"></div>
                    <div class="white"></div>
                    <div class="black"></div>
                    <div class="white"></div>
                    <!-- 5th -->
                    <div class="white"></div>
                    <div class="black"></div>
                    <div class="white"></div>
                    <div class="black"></div>
                    <div class="white"></div>
                    <div class="black"></div>
                    <div class="white"></div>
                    <div class="black"></div>
                    <!-- 6th -->
                    <div class="black"></div>
                    <div class="white"></div>
                    <div class="black"></div>
                    <div class="white"></div>
                    <div class="black"></div>
                    <div class="white"></div>
                    <div class="black"></div>
                    <div class="white"></div>
                    <!-- 7th -->
                    <div class="white"><button class="chesspiece" id="chess_button_pawn8"><img
                                src="/static/images/chesspieces/whitePawn.png"></button></div>
                    <div class="black"><button class="chesspiece" id="chess_button_pawn9"><img
                                src="/static/images/chesspieces/whitePawn.png"></button></div>
                    <div class="white"><button class="chesspiece" id="chess_button_pawn10"><img
                                src="/static/images/chesspieces/whitePawn.png"></button></div>
                    <div class="black"><button class="chesspiece" id="chess_button_pawn11"><img
                                src="/static/images/chesspieces/whitePawn.png"></button></div>
                    <div class="white"><button class="chesspiece" id="chess_button_pawn12"><img
                                src="/static/images/chesspieces/whitePawn.png"></button></div>
                    <div class="black"><button class="chesspiece" id="chess_button_pawn13"><img
                                src="/static/images/chesspieces/whitePawn.png"></button></div>
                    <div class="white"><button class="chesspiece" id="chess_button_pawn14"><img
                                src="/static/images/chesspieces/whitePawn.png"></button></div>
                    <div class="black"><button class="chesspiece" id="chess_button_pawn15"><img
                                src="/static/images/chesspieces/whitePawn.png"></button></div>
                    <!-- 8th -->
                    <div class="black"><button class="chesspiece" id="chess_button_rook2"><img
                                src="/static/images/chesspieces/whiteRook.png"></button></div>
                    <div class="white"><button class="chesspiece" id="chess_button_horse2"><img
                                src="/static/images/chesspieces/whiteHorse.png"></button></div>
                    <div class="black"><button class="chesspiece" id="chess_button_bishop2"><img
                                src="/static/images/chesspieces/whiteBishop.png"></button></div>
                    <div class="white"><button class="chesspiece" id="chess_button_queen1"><img
                                src="/static/images/chesspieces/whiteQueen.png"></button></div>
                    <div class="black"><button class="chesspiece" id="chess_button_king1"><img
                                src="/static/images/chesspieces/whiteKing.png"></button></div>
                    <div class="white"><button class="chesspiece" id="chess_button_bishop3"><img
                                src="/static/images/chesspieces/whiteBishop.png"></button></div>
                    <div class="black"><button class="chesspiece" id="chess_button_horse3"><img
                                src="/static/images/chesspieces/whiteHorse.png"></button></div>
                    <div class="white"><button class="chesspiece" id="chess_button_rook3"><img
                                src="/static/images/chesspieces/whiteRook.png"></button></div>
                </div>




            </div>

        </main>


        <sidebar class="sidebar-1 w-sidebar">
            <ul>
                <li><a href="#">Play</a></li>
                <li> <a href="#">Puzzles</a></li>
                <li><a href="#">Learn</a></li>
                <li><a href="#">About</a></li>
            </ul>

        </sidebar>

        <sidebar class="sidebar-2 w-sidebar">

            <section class="inner_board_section">
                <h5> Leaderboard </h5>
                <% for (let i=0; i < 8; i++) { %>
                    <div class="board_content">
                        <div class="img">
                            <img src="/static/images/website/profile1.png" alt="picture_1">
                        </div>
                        <div class="player">
                            <p><span>
                                    <h3></h3>
                                </span>
                            <h3>jorgexcc</h3>
                            </p>
                            <div class="score_bar_wrap">
                                <div class="score_bar"></div>
                            </div>
                        </div>
                        <div class="points">
                            <p><span>
                                    <h3></h3>
                                </span>
                            <h3>300</h3>
                            </p>
                        </div>
                    </div>
                    <% } %>

            </section>



        </sidebar>

    </section>

    <footer>
        <div class="icons">
            <a href="https://business.facebook.com/OfficialTHENX/"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/thenx/?hl=en"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/officialthenx?lang=en"><i class="fa fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCqjwF8rxRsotnojGl4gM0Zw"><i class="fa fa-youtube"></i></a>
        </div>
    </footer>
    <script src="/static/js/slider_chess.js"></script>
    <script src="/static/js/learn.js"></script>


    <script src="/static/js/background.js"></script>


</body>






</html>