<html>

<head>
  <title>Chess Index</title>
  <meta name="author" content="Georgy Batyrev" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./static/css/style.css" />
  <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="website-container">
  <header class="website-header">


    <h1>Blunder</h1>
    <a href="./index.html"> <img class="logo" src="static/images/website/logo.png" /></a>
    <h2>.com </h2>
    <canvas></canvas>

    <div class="profile">
      <img class="profile-pic" src="static/images/website/profile.png" />
      <h1>Name</h1>                                                       
    </div>

  </header>

  <section class="website-container-body">
    <main class="website-content">
      <h5> Game Modes</h5>
      <section class="website-content-text">

        <p>
        <h3> Welcome to the Blunder.com, you have found yourself on the new chess platform which would teach you how to
          blunder in chess. In order to blunder with style, this website offerrs three modes to play. You can learn
          chess from scratch, test yourseklf with challenging chess problems, and blunder against your friends. </h3>

        </p>
      </section>


      <div id="sociallocker">
        <div id="sociallocker-links">
          <div class="programs-l">
            <a href="./index.html"><img class="width" src="static/images/website/login.png" /></a>
            <a href=""><button class="start">
                <h4>Enter the site</h4>
              </button></a>

            

          </div>

        </div>

        <div id="sociallocker-content">
          <section class="programs">

            <div class="row">
              <div class="programs-k">

                <a href="./index.html"><img class="top" src="static/images/website/play.png" /></a>
                <a href="./index.html"><img class="width" src="static/images/website/play_banner.png" /></a>

                <div class="dropdown">
                  <button class="start">
                    <h4>Play</h4>
                  </button>
                  <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                  </div>
                </div>
              </div>
              <div class="programs-k">

                <a href="./index.html"><img class="top" src="static/images/website/puzzle.png" /></a>
                <a href="./index.html"><img class="width" src="static/images/website/puzzle_banner.png" /></a>
                <button class="start">
                  <h4><a href="/users/login">Solve a puzzle</a></h4>
                </button>
              </div>
              <div class="programs-k">

                <a href="./index.html"><img class="top" src="static/images/website/learn.png" /></a>
                <a href="./index.html"><img class="width" src="static/images/website/learn_banner.png" /></a>
                <button class="start">
                  <h4><a href="/users/login">Start lesson</a></h4>
                </button>
              </div>
            </div>


          </section>


        </div>

        <div id="sociallocker-overlay"><img class="lock" src="static/images/website/lock.png" />
          Unlock content by logging in the site
        </div>

      </div>


    </main>



    <sidebar class="sidebar-1 w-sidebar">
      <div id="tiles"></div>
      <ul>
        <li><a href="#">Play</a></li>
        <li> <a href="#">Puzzles</a></li>
        <li><a href="#">Learn</a></li>
        <li><a href="#">About</a></li>
      </ul>
  
    </sidebar>

    <sidebar class="sidebar-2 w-sidebar">

      <section class="inner_board_section">
        <h5> Leaderboard </h5>
        <% for (let i=0; i < 8; i++) { %>
          <div class="board_content">
            <div class="img">
              <img src="/static/images/website/profile1.png" alt="picture_1">
            </div>
            <div class="player">
              <p><span>
                  <h3></h3>
                </span>
              <h3>jorgexcc</h3>
              </p>
              <div class="score_bar_wrap">
                <div class="score_bar"></div>
              </div>
            </div>
            <div class="points">
              <p><span>
                  <h3></h3>
                </span>
              <h3>300</h3>
              </p>
            </div>
          </div>
          <% } %>


      </section>



    </sidebar>

  </section>

  <footer>
    <div class="icons">
      <a href="https://business.facebook.com/OfficialTHENX/"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/thenx/?hl=en"><i class="fa fa-instagram"></i></a>
      <a href="https://twitter.com/officialthenx?lang=en"><i class="fa fa-twitter"></i></a>
      <a href="https://www.youtube.com/channel/UCqjwF8rxRsotnojGl4gM0Zw"><i class="fa fa-youtube"></i></a>
    </div>
  </footer>

  <script src="/static/js/background.js"></script>
  <script src="/static/js/users_actions/unlock-page.js"></script>
</body>






</html>