

<html>

<head>
  <title>Blunder.com Learn</title>
  <meta name="author" content="Georgy Batyrev" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/css/other-style.css" />
  <link rel="stylesheet" href="/static/css/login.css" />
  <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="website-container">

<main>
  <section class="box">
    <section class="inner-box">
      <section class="forms-wrap">
        <form id="login" action="index.html" autocomplete="off" class="sign-in-form">
          <section class="main_logo">
            <img src="/static/images/website/logo.png" />
            <h4>WEBSITE NAME</h4>
          </section>

          <section class="heading">
            <h2>Welcome Back</h2>
            <h6>Not registred yet?</h6>
            <a href="#" class="toggle">Sign up</a>
          </section>

          <section class="actual-form">
            <section class="input-wrap">
              <input
                id="username_l"
                type="text"
                minlength="4"
                class="input-field"
                autocomplete="off"
                required
              />
              <label>Name</label>
            </section>

            <section class="input-wrap">
              <input
                id="loginPassword"
                type="password"
                minlength="4"
                class="input-field"
                autocomplete="off"
                required
              />
              <label>Password</label>
            </section>

            <input type="submit" value="Sign In" class="sign-btn" />

            <p class="text">
              Forgotten your password or you login datails?
              <a href="#">Get help</a> signing in
            </p>
          </section>
        </form>

        <form id="reg-form" action="/index" autocomplete="off" class="sign-up-form">
          <section class="main_logo">
            <img src="/static/images/website/logo.png" alt="easyclass" />
            <h4>WEBSITE NAME</h4>
          </section>

          <section class="heading">
            <h2>Get Started</h2>
            <h6>Already have an account?</h6>
            <a href="#" class="toggle">Sign in</a>
          </section>

          <section class="actual-form">
            <section class="input-wrap">
              <input
                id="username_s"
                type="text"
                minlength="4"
                class="input-field"
                autocomplete="off"
                required
              />
              <label>Name</label>
            </section>

            <section class="input-wrap">
              <input
                id="email"
                type="email"
                class="input-field"
                autocomplete="off"
                required
              />
              <label>Email</label>
            </section>

            <section class="input-wrap">
              <input
                id="createPassword"
                type="password"
                minlength="4"
                class="input-field"
                autocomplete="off"
                required
              />
              <label>Password</label>
            </section>

            <input type="submit" value="Sign Up" class="sign-btn" />

            <p class="text">
              By signing up, I agree to the
              <a href="#">Terms of Services</a> and
              <a href="#">Privacy Policy</a>
            </p>
          </section>
        </form>
      </section>

      <section class="carousel">
        <section class="images-wrapper">
          <img src="" class="image img-1 show" alt="" />
          <img src="" class="image img-2" alt="" />
          <img src="" class="image img-3" alt="" />
        </section>

        <section class="text-slider">
          <section class="text-wrap">
            <section class="text-group">
              <h2>PLAY</h2>
              <h2>LEAR</h2>
              <h2>CHALLENGE YOURSELF</h2>
            </section>
          </section>

          <section class="bullets">
            <span class="active" data-value="1"></span>
            <span data-value="2"></span>
            <span data-value="3"></span>
          </section>
        </section>
      </section>
    </section>
  </section>
</main>
<!-- Javascript file -->
<script src="/static/js/users_actions/login.js"></script>

<script src="/static/js/users_actions/signin.js"></script>

<script src="/static/js/login-form.js"></script>

<!-- <%- include("includes/navbar") %> -->







  






