

<%- include("includes/header") %>


<main>
  <div class="box">
    <div class="inner-box">
      <div class="forms-wrap">
        <form id="login" action="index.html" autocomplete="off" class="sign-in-form">
          <div class="logo">
            <img src="/static/images/website/logo.png" alt="easyclass" />
            <h4>WEBSITE BAME</h4>
          </div>

          <div class="heading">
            <h2>Welcome Back</h2>
            <h6>Not registred yet?</h6>
            <a href="/users/new" class="toggle">Sign up</a>
          </div>

          <div class="actual-form">
            <div class="input-wrap">
              <input
              id="username"
                type="text"
                minlength="4"
                class="input-field"
                autocomplete="off"
                required
              />
              <label>Name</label>
            </div>

            <div class="input-wrap">
              <input
              id="loginPassword"
                type="password"
                minlength="4"
                class="input-field"
                autocomplete="off"
                required
              />
              <label>Password</label>
            </div>

            <input type="submit" value="Login" class="sign-btn" />

            <p class="text">
              Forgotten your password or you login datails?
              <a href="#">Get help</a> signing in
            </p>
          </div>
        </form>

      </div>

      <div class="carousel">
        <div class="images-wrapper">
          <img src="/static/images/website/login_1v1.jpg" class="image img-1 show" alt="" />
          <img src="/static/images/website/login_1v1.jpg" class="image img-2" alt="" />
          <img src="/static/images/website/login_1v1.jpg" class="image img-3" alt="" />
        </div>

        <div class="text-slider">
          <div class="text-wrap">
            <div class="text-group">
              <h2>Play 1v1</h2>
              <h2>Challenge yourself</h2>
              <h2>Learn how to play</h2>
            </div>
          </div>

          <div class="bullets">
            <span class="active" data-value="1"></span>
            <span data-value="2"></span>
            <span data-value="3"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Javascript file -->
<script src="/static/js/users_actions/login.js"></script>


<script src="/static/js/login-form.js"></script>

<!-- <%- include("includes/navbar") %> -->







  






