

<head>
    <link rel="stylesheet" href="./../public/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>




<body>



<div class="outer-box">
  <div class="inner-box">
 
    <div class="imgcontainer">
      <img src="./../public/img/avatar.png" alt="Avatar" class="avatar">
    </div>

    <!-- Login with username and password -->
    <div class="container">
      <form action="/actionpage" method="post">
        <label for="uname"><b>Username</b></label>
        <input name="uname" type="text" placeholder="Enter Username" required>

        <label for="password"><b>Password</b></label>
        <div class="showPassword">
          <input name="password" type="password" placeholder="Enter Password" id="myPassword" required>
          <input type="button" id="showPasswordbtn" value="Show Password" onclick="myFunction()"></input>
        </div>
          
        <button type="submit"><b>Login</b></button>
          
        <label>
          <input type="checkbox" checked="checked" name="remember">Remember me</input>
        </label>
      </form>
    </div>

    <!-- Login with social medias -->
    <div class="container">
      <a href="https://www.facebook.com/login" target="_blank" class="facebook btn"><i class="fa fa-facebook fa-fw"></i> Login with Facebook</a>
      <a href="https://twitter.com/i/flow/login" target="_blank" class="twitter btn"><i class="fa fa-twitter fa-fw"></i> Login with Twitter</a>
      <a href="#" class="google btn"><i class="fa fa-google fa-fw"></i> Login with Google</a>
    </div>

    <!-- Create new Account -->
    <div class="container" style="background-color:whitesmoke">
      <button onclick="window.open('./createUser.html', '_self')" type="button">Create Account</button> 
      <span class="psw">Forgot <a href="######">password?</a></span>
    </div>
</div>



</body>





  






