

<head>
    <link rel="stylesheet" href="./../public/css/login.css">
</head>




<body>



<div class="outer">
  <form class="login-box" action="/actionpage" method="post">

    <div class="imgcontainer">
      <img src="img.png" alt="Avatar" class="avatar">
    </div>

    <!-- Login with username and password -->
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
        
      <label>
        <input type="checkbox" checked="checked" name="remember">Remember me</input>
      </label>
    </div>

    <!--  -->
    <div class="container" style="background-color:whitesmoke">
      <button type="button" class="cancelbtn">Cancel</button> 
      <span class="psw">Forgot <a href="######">password?</a></span>
    </div>

  </form>
</div>



</body>





  






