<html>

<head>
    <title>Pay</title>
    <meta name="author" content="Georgy Batyrev" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./static/css/chess.css">

    <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="website-container" onload="initPos()">
    <header class="website-header">


        <h1>Blunder</h1>
        <a href="./index"> <img class="logo" src="static/images/website/logo.png" /></a>
        <h2>.com </h2>
        <canvas></canvas>



    </header>

    <p class="playing"> Playing: <span> </span></p>
    <p class="check"><span></span> is checked</p>
    <section class="website-container-body">
    <main class="website-content">

    </main>


   <button id = "start">Start</button>

    <script src="/static/js/chess.js"></script>

</section>
</body>






</html>