<html>

<head>
  <title>Play Page</title>
  <meta name="author" content="Georgy Batyrev" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./static/css/style.css" />
  <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="/static/js/room.js"></script>
</head>

<body class="website-container" onload="init()">
  <header class="website-header">


    <h1>Blunder</h1>
    <a href="./index"> <img class="logo" src="static/images/website/logo.png" /></a>
    <h2>.com </h2>
    <canvas></canvas>

    <div class="profile">
      <img class="profile-pic" src="static/images/website/profile.png" />
      <h1>Name</h1>
    </div>

  </header>

  <section class="website-container-body">
    <main class="website-content">
      <h5> Enter the playing room</h5>


        <section class="programs">

          <div class="row">
            <div class="programs-k">

              <a href="./index"><img class="top" src="static/images/website/one.png" /></a>
              <a href="./index"><img class="width" src="static/images/website/chess_room_red.jpg" /></a>

              <button class="start">
                <h4>Enter</h4>
              </button>

              <div class="members">

                </div>

            </div>
            <div class="programs-k">

              <a href="./index"><img class="top" src="static/images/website/two.png" /></a>
              <a href="./index"><img class="width" src="static/images/website/chess_room_black.jpg" /></a>

              <button class="start">
                <h4>Enter</h4>
              </button>

              <div class="members">

              </div>

            </div>
            <div class="programs-k">

              <a href="./index"><img class="top" src="static/images/website/three.png" /></a>
              <a href="./index"><img class="width" src="static/images/website/chess_room_blue.jpg" /></a>

              <button class="start">
                <h4>Enter</h4>
              </button>
              <div class="members">

              </div>
            </div>
          </div>
        </section>
    </main>



    <sidebar class="sidebar-1 w-sidebar">
      <div id="tiles"></div>
      <ul>
        <li><a href="#">Play</a></li>
        <li> <a href="#">Puzzles</a></li>
        <li><a href="#">Learn</a></li>
        <li><a href="#">About</a></li>
      </ul>


    </sidebar>




  </section>

  <footer>
    <div class="icons">
      <a href="https://business.facebook.com/OfficialTHENX/"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/thenx/?hl=en"><i class="fa fa-instagram"></i></a>
      <a href="https://twitter.com/officialthenx?lang=en"><i class="fa fa-twitter"></i></a>
      <a href="https://www.youtube.com/channel/UCqjwF8rxRsotnojGl4gM0Zw"><i class="fa fa-youtube"></i></a>
    </div>
  </footer>
  <script src="/static/js/background.js"></script>
</body>






</html>