<%- include("includes/header") %>

<main class="website-content">
    <div class="inner-box" id="inner-box">
        <form name="userCreateForm" id="reg-form">
            <div class="container">
                <h1>Sign Up</h1>
                <hr>

                <label for="filepic"><b>Profile Picture</b></label>
                <input name="filepic" type="file" >

                <label for="email"><b>Email</b></label>
                <input name="email" autocomplete="off" type="text" placeholder="Enter Email" id="email" onclick="resetButton()" maxlength="30" required>

                <label for="username"><b>Username</b></label>
                <input name="username" autocomplete="off" type="text" placeholder="Enter Username" id="username" onclick="resetButton()" required>

                <label for="password"><b>Password</b></label>
                <div class="showPassword">
                    <input name="password" autocomplete="off" type="password" placeholder="Enter Password" id="createPassword" onclick="resetButton()" minlength="8" required>
                    <input type="button" value="Show Password" class="showPasswordbtn" id="createPasswordbtn" onclick="showPassword('create')" ></input>
                </div>

                <label for="password-repeat"><b>Repeat Password</b></label>
                <div class="showPassword">
                    <input name="password-repeat" type="password" placeholder="Repeat Password" id="createPassword2" onclick="resetButton()" minlength="8" required>
                </div>

                <p>By creating an account you agree to our <a href="#">Terms & Privacy</a></p>
            </div>

            <div class="container">
                <button id="createUserbtn" type="submit" onmouseover="mouseOver()"><b>Sign Up</b></button>
                <button type="button" style="background-color: red;"><b>Cancel</b></button>
            </div>
            </div>
        </form>
    </div>
</main>

<script src="/static/js/users_actions/login.js"></script>
<script src="/static/js/users_actions/signin.js"></script>


<%- include("includes/navbar") %>