<html>

<head>
    <title>Pay</title>
    <meta name="author" content="Georgy Batyrev" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./static/css/chess.css">

    <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="website-container" onload="initPos()">

    <header class="website-header">
        <h1>Blunder</h1>
        <a href="./index"> <img class="logo" src="static/images/website/logo.png" /></a>
        <h2>.com </h2>
        <canvas></canvas>
    </header>

    <section>
        <main class="website-content">

          <section class="section-one">
            <!-- Playing? -->
            <div class="playing">
              <p class="playing"> Playing: <span> </span></p>
              <p class="check"><span></span> is checked</p>
            </div>

          </section>


          <section class="section-two">
            <!-- Timer -->
<div class="clock-container">
  <div class="player-1-timer-container">
    <h2>Player 1</h2>
    <p class="player-1-timer">10</p>
  </div>
  <div class="buttons-container">
    <button class="start-button" id="timer-start">Start</button>
    <button class="stop-button" id="timer-stop">Stop</button>
    <button class="reset-button" id="timer-reset">Reset</button>
  </div>
  <div class="player-2-timer-container">
    <h2>Player 2</h2>
    <p class="player-2-timer">10</p>
  </div>
</div>
            <section id="chess-grid">
            </section>

            
            
            
          
            
            
            
            
            
            
            
            
            
            
            
            

            <section class="sidebar">

              <!-- Table -->
              <div class="moves">
                <table>
                    <tr>
                        <td> N </td>
                        <td> In </td>
                        <td> Out </td>
                    </tr>

                    <% for (let i = 0; i < 20; i++) { %>
                        <tr>
                            <td> <%- i %> </td>
                            <td> posn in </td>
                            <td> posn out </td>
                        </tr>
                    <% } %>
                </table>
              </div>

              <!-- buttons forw and back -->
              <section class="default-buttons-section">
                  <button class="default-buttons" id="backward">Back</button>
                  <button class="default-buttons" id="forward">Forw</button>
                  <button class="default-buttons" id="draw">Draw</button>
              </section>

              <!-- Start button -->
              <button id="start">Start</button>

              <!-- Forfeit & IDK -->
              <div class="default-buttons-section">
                <button class="default-buttons" id="forfeit">Forfeit</button>
                <button class="default-buttons" id="connect">Connect</button>
              </div>
            </section> <!-- endl sidebar -->
          </section>


          <section class="section-three">
            <!-- Eaten pieces placeholder -->
            <section class="eatenPieces-section">
              <h2>Eaten Pieces</h2>
              <img src="/static/images/chesspieces/whiteKing.png" alt="">
              <img src="/static/images/chesspieces/whiteKing.png" alt="">
              <img src="/static/images/chesspieces/whiteKing.png" alt="">
              <img src="/static/images/chesspieces/whiteKing.png" alt="">
              <img src="/static/images/chesspieces/whiteKing.png" alt="">
            </section>
            <!-- Pop up chat -->
            <div>
              <button class="chat-button" id="chat"><i class="fa-solid fa-comments"></i>CHAT</button>
            </div>
          </section>

        </main>
    
    </section>
    

    <script src="/static/js/chess.js"></script>
    <script src="/static/js/timer.js"></script>
</body>


</html>


