<html>

<head>
    <title>Pay</title>
    <meta name="author" content="Georgy Batyrev" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./static/css/chess.css">

    <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="website-container" onload="initPos()">

    <header class="website-header">
        <h1>Blunder</h1>
        <a href="./index"> <img class="logo" src="static/images/website/logo.png" /></a>
        <h2>.com </h2>
        <canvas></canvas>
    </header>

    <p class="playing"> Playing: <span> </span></p>
    <p class="check"><span></span> is checked</p>

    <section>
        <main class="website-content">
            <section id="chess-grid">
            </section>

            <section class="sidebar" >
                <!-- Table -->
                <table>
                    <tr>
                        <td>try </td>
                        <td>try </td>
                        <td>try </td>
                    </tr>

                    <% for (let i = 0; i < 10; i++) { %>
                        <tr>
                            <td> <%- i %> </td>
                            <td> posn in </td>
                            <td> posn out</td>
                        </tr>
                    <% } %>
                </table>

                <!-- buttons forw and back -->
                <section class="replay-buttons-section">
                    <button class="replay-buttons">Back</button>
                    <button class="replay-buttons">Forw</button>
                    <button class="replay-buttons">do</button>
                    <button class="replay-buttons">try</button>
                </section>

                <!-- Start button -->
                <button id="start">Start</button>
            
            </section>

        </main>
    
    </section>
    

    <script src="/static/js/chess.js"></script>
</body>






</html>