h1 {
    text-align: center;
}

:root {

    /**
     * colors
     */
  
    --blunderGreen: #0e5b05;
    --blunderBlack: #101820ff;
    --blunderBiege: #E7E3DA;
    --blunderBlue:  #18204c;
    --blunderLightBlue: #6e99c0;
    --blunderLightLightBlue: #dae9f2;
  }
* {
    font-family: 'Gotham', sans-serif;
    overscroll-behavior: none;
    color: var(--blunderBiege);
    transition: 250ms;
  }
  
  body {
    background-image:linear-gradient(rgba(160, 164, 176, 0.5),
    rgba(160, 164, 176, 0.5)), url(/static/images/website/banner.jpg);
  
  }
  
  /*--The follwing header belongs to the browser page--*/
  .website-header {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: left;
  
    height: 10vh;
  
    width: 99%;
  
    letter-spacing: 3px;
    background: var(--blunderBlack);
    border: 1mm ridge var(--blunderBiege);
  
  }
  
  .logo {
    margin-left: -15px;
    width: 90px;
    height: 90px;
  }
  
  .website-header h1 {
    margin-left: 10px;
    font-size: 15px;
    color: var(--blunderBiege);
  }
  
  .website-header h2 {
    margin-left: -20px;
    font-size: 15px;
    color: var(--blunderBiege);
  
  }
/*  */

p {
  font-weight: bolder;
  font-size: 30px;
  color: black;
}

p span {
  font-weight: bolder;
  font-size: 30px;
  color: black;
}
















/* Chess Board + side + buttons  */
.website-content {
  display: flex;
  flex-direction: column;
}


/* ------ SECTION ONE ------ */
.section-one{
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
}

/* PLaying? */

/* Timer */
.clock-container {
  display: flex;
  justify-content: space-between;
}
.player-1-timer-container, .player-2-timer-container {
  text-align: center;
}
.player-1-timer, .player-2-timer {
  color: #E7E3DA;
}
.buttons-container button {
  margin-top: 15px;
  height: 30px;
  width: 50px;
  color: var(--blunderBlack);
}

/* Connect */



/* ----- SECTION TWO ------ */
.section-two {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
}

#chess-grid{
  display: grid;
  grid-template-columns: repeat(8, 90px);
  grid-template-rows: repeat(8, 90px);
}

/* ----- Sidebar ------ */
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  width: 30%;
}

/* Table w/ moves */
.moves table {
  float: right;
  border: solid;
  background-color: #0e5b05;
  width: 100%;
}
.moves table tr {
  transition: all .2s ease-in;
  cursor: pointer;
}
.moves table th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid;
}
.moves tr:hover {
  background-color:rgba(9, 62, 219, 0.5);
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
.moves {
  overflow-y: auto;
  height: 500px;
}
/* .sidebar:first-child {
  background-color: #5b0505;
  color: #E7E3DA;
} */

/* backward + forward buttons */
.default-buttons-section{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.default-buttons {
  background-color: aliceblue;
  color: #5b0505;
  height: 50px;
  padding: 10px;
  width: 100%;
  /* margin-top: 10%; */
  border-radius: 25%;
  /* margin-left: 23%; */
}
/* Start buttons */
#start{
  background-color: #18204c;
  float: right;
  height: 50px;
  margin-top: 20px;
}





/* ----- SECTION THREE ----- */
.section-three{
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
}
/* Eaten pieces */
.eatenPieces-section img {
  width: 50px;
  height: 50px;
  margin-top: -20px;
}
/*  */
.chat-button {
  width: 100px;
  height: 100px;
  color: black;
}












@media only screen and (max-width: 768px) {
  .website-content {
    display: flex;
    flex-direction: column;
  }
  

  .sidebar{
    margin-top: 25px;
    margin-left: 0;
  }
}