h1 {
  text-align: center;
  color: var(--blunderBiege);
}

:root {

  /**
   * colors
   */

  --blunderGreen: #0e5b05;
  --blunderBlack: #101820ff;
  --blunderBiege: #E7E3DA;
  --blunderBlue:  #18204c;
  --blunderLightBlue: #6e99c0;
  --blunderLightLightBlue: #dae9f2;
}
* {
  font-family: 'Gotham', sans-serif;
  overscroll-behavior: none;
  color: var(--blunderBiege);
}

body {
  
  margin-top: 3%;
  zoom: 0.85;

  background-image:linear-gradient(rgba(160, 164, 176, 0.5),
  rgba(160, 164, 176, 0.5)), url(/static/images/website/banner.jpg);



}


@media all and (max-width: 1168px) {
.section-two, .section-one, .section-three{
  transform: scale(0.9);
  transition: 350ms;
}
footer{
  zoom:0.9;
  
}
#chess-grid{
  zoom: 0.8;
}

}
@media all and (max-width: 950px) {
 
  .section-two, .section-one, .section-three{
    transform: scale(0.8);
    zoom: 0.9;
    transition: 350ms;
  }
  footer{
    zoom:0.8;
  }
  
  #chess-grid{
    zoom: 0.7;
  }
  
}

  
  .pentahedron {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: var(--blunderLightBlue);
  }
  
  .point {
    fill: var(--blunderLightLightBlue);
  }
  
  .rhombus {
    fill: var(--blunderBiege);
    stroke:var(--blunderBiege);
  }
  
  .x {
    fill: var(--blunderLightBlue);
  }
  
  .circle {
    fill: var(--blunderLightBlue);
  }
  
  svg {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translateZ(0px);
  }



.logo-container{
  margin-left: auto;
  margin-right: auto;
  align-items: center;

}
.website-header {
  display: inline-flex;
  position: relative;
  align-items: center;

  height: 150px;

  width: 20%;

  letter-spacing: 3px;
  background: var(--blunderBlack);
  border: 3mm ridge var(--blunderBiege);

}

.logo {
  margin-left: -15px;
  width: 150px;
  height: 150px;
}

.website-header h1 {
  margin-left: 20%;
  font-size: 15px;
  color: var(--blunderBiege);
}

.website-header h2 {
  margin-left: -20px;
  font-size: 15px;
  color: var(--blunderBiege);

}

h3{
  color: var(--blunderBlack);
font-size: 20px;
margin-top: auto;
margin-bottom: auto;
align-items: center;
}

/*  */

p {
font-weight: bolder;
font-size: 30px;
color: black;
}

p span {
font-weight: bolder;
font-size: 30px;
color: black;
}
















/* Chess Board + side + buttons  */
.website-content {
display: flex;
flex-direction: column;
}


/* ------ SECTION ONE ------ */
.section-one{
display: flex;
flex-direction: row;
margin: 5px;
}

/* PLaying? */
.playing {
display: flex;
flex-direction: row;
color: var(--blunderBiege);
height: 100px;
margin-left: auto;
margin-right: auto;

align-items: center;

}
.player {
color: var(--blunderBiege);

}



/* Timer */
.clock-container {
display: flex;
justify-content: space-between;
background-color: var(--blunderBlack);
padding: 5px;
height: fit-content;
margin-left: auto;
margin-right: auto;
align-items: center;
width: 750px;
border: 3mm ridge var(--blunderBiege);
}


.player-1-timer-container, .player-2-timer-container {
text-align: center;
}
.player-1-timer, .player-2-timer {
color: var(--blunderBiege)
}

.buttons-container button {
height: 50px;
width: 50px;
color: var(--blunderBlack);
border-radius: 3%;
}





/* ----- SECTION TWO ------ */
.section-two {
display: flex;
flex-direction: row;
margin: 5px;
justify-content: space-between;

align-items: center;
}

#chess-grid{
display: grid;
grid-template-columns: repeat(8, 90px);
grid-template-rows: repeat(8, 90px);
border: 20px solid var(--blunderBlack);
margin:10px;
}

/* ----- Sidebar ------ */

.sidebar0 {
display: flex;
flex-direction: column;
background-color: var(--blunderBlack);
height: 150px;
width: 20%;
border: 10px ridge var(--blunderBiege);
}

.clock{
  width:120px;
height: 120px;
margin-left: auto;
margin-right: auto;
align-items: center;
}

.sidebar {
display: flex;
flex-direction: column;
background-color: var(--blunderBlack);
height: 800px;
width: 20%;
border: 10px ridge var(--blunderBiege);
}

.sidebar1 {
display: flex;
flex-direction: column;
background-color: transparent;
backdrop-filter: blur(3px);
height: 800px;
width: 20%;
min-width: 200px;
border: 10px ridge var(--blunderBiege);
}
.sidebar1 h1{
color: var(--blunderBiege);
font-size: 30px;
letter-spacing: 3px;
}

/* Table w/ moves */
.moves table {
float: right;
background-color: var(--blunderBlack);
width: 100%;
}
.moves table tr {
transition: all .2s ease-in;
cursor: pointer;
}
.moves table th, td {
padding: 20px 5px;
text-align: center;
border-bottom: 1px solid var(--blunderBlue);
}

.moves {
overflow-y: auto;
height: 350px;
}
/* .sidebar:first-child {
background-color: #5b0505;
color: #E7E3DA;
} */

/* backward + forward buttons */
.default-buttons-section{
display: flex;
justify-content: center;
flex-direction: row;
margin-top: 20px;
border: 1mm ridge var(--blunderBlack);

}

.default-buttons {
background-color: var(--blunderBiege);
color: var(--blunderBlack);
height: 50px;
padding: 10px;
width: 45%;
cursor: pointer;
border: var(--blunderBlack)
}


.offer-buttons-section{
display: flex;
justify-content: center;
flex-direction: row;
margin-top: 120px;

bottom:   0;

}
.offer-buttons {
background-color: var(--blunderBiege);
color: var(--blunderBlack);
height: 100px;
padding: 10px;
width: 45%;
cursor: pointer;

}

.offer{
width: 90px;
height: 90px;
margin-top: auto;
margin-bottom: auto;
align-items: center;
}
/* Start buttons */

.start-button, .stop-button, .reset-button{

background-color: var(--blunderBiege);


}
#start{
background-color: var(--blunderLightBlue);
height: 100px;
width: 90%;
margin-top: auto;
margin-bottom: auto;
align-items: center;
margin-top: 20px;
cursor: pointer;



}

#start h1{
color: var(--blunderBiege);
font-size: 30px;
margin-top: auto;
margin-bottom: auto;
align-items: center;
}

.start-buttons-section{
display: flex;
justify-content: center;
flex-direction: row;

}

.small{
width: 40px;
height: 40px;
margin-left: auto;
margin-right: 40px;
align-items: center;
}



/* ----- SECTION THREE ----- */
.section-three{
display: flex;
flex-direction: row;
margin: 5px;
justify-content: space-between;
}

.section-three span{
  display: flex;
margin-left: auto;
margin-right: auto;
align-items: center;
  }
/* Eaten pieces */
.eatenPieces-section {

margin-left: auto;
margin-right: auto;
align-items: center;
}
.eatenPieces-section img {
width: 50px;
height: 50px;

}

.eat{
width:200px;
height: 200px;
margin-left: auto;
margin-right: auto;
align-items: center;
}

.section-two h2 {

color: var(--blunderBiege);
font-size: 30px;
}

/*  */

.connect-buttons-section{
margin-top: 20px;
display: flex;
justify-content: center;
flex-direction: row;

}

#myConnect {
display: none;

}
.sidebar0 h1 {

font-size: 30px

}

#connect, #disconnect{
margin-top: -50px;
background-color: var(--blunderBiege);
height: 50px;
margin-bottom: auto;
width: 200px;
align-items: center;
cursor: pointer;

}

#back-to-index{
  margin-top: 30px;
background-color: var(--blunderBiege);
height: 50px;
margin-bottom: auto;
width: 80%;
align-items: center;
cursor: pointer;
}

#disconnect{
  margin-top: -70px;

}

#connect h1, #disconnect h1, #back-to-index h1{
color: var(--blunderBlack);
font-size: 15px;
margin-top: auto;
margin-bottom: auto;
align-items: center;
}
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
position: fixed;
bottom: 0;
background-color: transparent;

border: none;
cursor: pointer;


width: 280px;
}

.open-button img{
width: 150px;
height: 150px;
}

/* The popup chat - hidden by default */
.chat-popup {
display: none;
border: 1mm ridge var(--blunderBlack);
width:90%;
height: 360px;
background-color: var(--blunderBlack);

}

/* NAME input in sign in form */

.input-field {
  margin-top: 5%;
  height: 30px;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  border: 3px ridge var(--blunderBiege);

  transition: 0.4s;
  margin-bottom: 10px;
}

#send-container h2{
font-size: 0.95rem;
color: var(--blunderBlack);
margin-bottom: auto;
margin-top: auto;
align-items: center;
}

.send{
  background-color: var(--blunderBiege);
  color: var(--blunderBlack);
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  height: 30px;
  width: 100%;

}

.btn{
  background-color: var(--blunderBiege);
  color: var(--blunderBlack);
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  height: 30px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
.website-content {
  display: flex;
  flex-direction: column;
}


.sidebar{
  margin-top: 25px;
  margin-left: 0;
}
}

footer {
display: flex;
align-items: center;
bottom: 0px;;

margin-left: auto;
margin-right: auto;


margin-top: 5%;


width: 50%;
height: 100px;
letter-spacing: 3px;
background: var(--blunderBlack);
border: 3mm ridge var(--blunderBiege);
}

.icons {
  letter-spacing: 10px;
align-items: center;
color: var(--blunderBiege);
cursor: pointer;
margin-left: auto;
margin-right: auto;
}

.check span{
color: var(--blunderBlack);
}

.check {
color: var(--blunderBlack);
}

.player span{
color: var(--blunderBlack);
}