

/* Full-width input fields */
input[type=text], input[type=password], input[type=file], input[type=button] {
    /* display: inline-block; */
    width: 100%;
    padding: 12px 20px; /* top & bottom, left & right */
    margin: 8px 0; /* top & bottom, left & right */
    border: 1px solid #ccc;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: rgb(6, 90, 0);
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D; /* Background color */
    color: white; /* Text color */
    border: none; /* Delete the border */
    border-radius: 4px; /* Round the buttons */
    cursor: pointer; /* Pointer cursor */
    width: 100%; /* Button width */
    padding: 14px 20px;
    margin: 8px 0;
}
button:hover {
    opacity: 0.8; /* Decrease opacity*/
}
  

/* Inner box */
.inner-box {
    background-color: rgba(255, 255, 255, 0.5); /* Background color */
    margin: auto auto auto auto; /* 5% top, 15% bottom, auto for centering */
    width: 100%; /* Could be more or less, depending on screen size */
    height: 100%;
}

/* Avatar image */
.imgcontainer {
    text-align: center; /* Align image to the center */
    margin: -30px 0 0 0; /* top, right, bottom, left */
}
img.avatar {
    width: 30%; /* Image width */
    border-radius: 50%; /* Make it round */
    margin-top: 20px; /* Margin from the top */
}

/* Container for labels and buttons */
.container {
    padding: 5px 25px 25px 25px; /* top, right, bottom, left */
}

/* Forgot Password */
#forgotPassword {
    float: right; /* Move it to the rigth */
}

/* Social media buttons */
.socialbutton {
    width: 97%; /* Button width */
    border: none; /* Delete the border */
    border-radius: 4px; /* Round the buttons */
    cursor: pointer; /* Pointer cursor */
    text-decoration: none; /* Technically links so remove underline */
    padding: 12px; /* top, right, bottom, left */
    margin: 5px 0; /* top & bottom, left & right */
    display: inline-block; /* Displey one under the other */
    font-size: 17px; 
}
.socialbutton:hover {
    opacity: 0.8; /* Decrease opacity*/
}
  
/* Social medias */
.facebook {
    background-color: #3B5998;
    color: white;
}
.twitter {
    background-color: #55ACEE;
    color: white;
}
.google {
    background-color: #dd4b39;
    color: white;
}


















/* Show Password Button */
/* Allign Password input and Password button */
.showPassword {
    display: flex; /* Inline the button with the input */
}
/* ------------------- */
.showPasswordbtn {
    margin-left: 10% !important; /* Distanciate button from input */
    width: 20% !important; /* Button width*/
}
/* ------------------- */


#createUserbtn{
    width: 20%;
    margin-left: 50%;
}






@media screen and (max-width: 650px) {

}
