

/* ============================================================================ */
/* ========================= LOGIN & CREATE USER PAGE ========================= */
/* ============================================================================ */

/* Full-width input fields */
input[type=text], input[type=password], input[type=file], input[type=button] {
    /* display: inline-block; */
    width: 100%;
    padding: 12px 20px; /* top & bottom, left & right */
    margin: 8px 0; /* top & bottom, left & right */
    border: 1px solid #ccc;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: rgb(6, 90, 0);
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D; /* Background color */
    color: white; /* Text color */
    border: none; /* Delete the border */
    border-radius: 4px; /* Round the buttons */
    cursor: pointer; /* Pointer cursor */
    width: 100%; /* Button width */
    padding: 14px 20px;
    margin: 8px 0;
}
button:hover {
    opacity: 0.8; /* Decrease opacity*/
}
  

/* Inner box */
.inner-box {
    background-color: rgba(255, 255, 255, 0.5); /* Background color */
    margin: auto auto auto auto; /* 5% top, 15% bottom, auto for centering */
    width: 100%; /* Could be more or less, depending on screen size */
    height: 100%;
}

/* Avatar image */
.imgcontainer {
    text-align: center; /* Align image to the center */
    margin: -30px 0 0 0; /* top, right, bottom, left */
}
img.avatar {
    width: 30%; /* Image width */
    border-radius: 50%; /* Make it round */
    margin-top: 20px; /* Margin from the top */
}

/* Container for labels and buttons */
.container {
    padding: 5px 25px 25px 25px; /* top, right, bottom, left */
}

/* Forgot Password */
#forgotPassword {
    float: right; /* Move it to the rigth */
}

/* Social media buttons */
.socialbutton {
    width: 97%; /* Button width */
    border: none; /* Delete the border */
    border-radius: 4px; /* Round the buttons */
    cursor: pointer; /* Pointer cursor */
    text-decoration: none; /* Technically links so remove underline */
    padding: 12px; /* top, right, bottom, left */
    margin: 5px 0; /* top & bottom, left & right */
    display: inline-block; /* Displey one under the other */
    font-size: 17px; 
}
.socialbutton:hover {
    opacity: 0.8; /* Decrease opacity*/
}
  
/* Social medias */
.facebook {
    background-color: #3B5998;
    color: white;
}
.twitter {
    background-color: #55ACEE;
    color: white;
}
.google {
    background-color: #dd4b39;
    color: white;
}


















/* Show Password Button */
/* Allign Password input and Password button */
.showPassword {
    display: flex; /* Inline the button with the input */
}
/* ------------------- */
.showPasswordbtn {
    margin-left: 10% !important; /* Distanciate button from input */
    width: 20% !important; /* Button width*/
}
/* ------------------- */


#createUserbtn{
    width: 20%;
    margin-left: 50%;
}











/* ============================================================================= */
/* ================================ BROWSE PAGE ================================ */
/* ============================================================================= */

/* ---------- SCROLLABLE CHALLENGES ---------- */
/* The main */
.website_content{
    width: 65%; /* Otherwise the scrollable overflows in width */
}

/*  */
.scrolling_div{
    width: 97%;
    /* height: 80%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
}

/*  */
.cover{
    position: relative;
    width: 90%;
    height: 100%;
    /* border: 2px solid blueviolet; */
}
/* Fade-out black gradient on the left of the scrollables */
.cover::before{
    position: absolute;
    content: "";
    left: 0;
    top: 10px;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, black, transparent) ;
}
/* Fade-out black gradient on the right of the scrollables */
.cover::after{
    position: absolute;
    content: "";
    right: -10%;
    top: 10px;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(-90deg, black, transparent) ;
}

/*  */
.scrolling_images{
    width: 108%;
    padding-top: 10px;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}
/* .scroll_images::-webkit-scrollbar{
    -webkit-appearance: none;
} */

/*  */
.scrolling_img_div{
    min-width: 600px;
    height: 450px;
    margin: 1px 10px;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid white;
}
.scrolling_img{
    width: 100%;
    height: 100%;
}





/* ---------- Separate the various parts of the website ---------- */
.separe {
    margin-top: 50px;
}





/* ---------- J ---------- */
.playing_modes {
    display: flex;
}





/* ----- SCOREBOARD ----- */
/*  */
.outer_board_section {
	width: 95%;
	height: 100%;
	position: relative;
	border-radius: 5px;
}

/*  */
.inner_board_section {
	position: absolute;
	background: #ffd300;
	width: 95%;
	height: 115%;
	border-radius: 5px;
    padding: 25px;
}

/*  */
.board_content {
	display: flex;
	align-items: center;
	padding: 15px 0;
	border-bottom: 1px solid #ffe773;
}
.board_content:first-child {
	padding-top: 0;
}
.board_content:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}
.board_content img {
	display: block;
	width: 100%;
}
.img {
	width: 50px;
}

/*  */
.player {
	margin: 0 20px;
	width: calc(100% - 150px);
}
.player p {
	color: #3a3d51;
}
.player p span {
	margin-right: 5px;
}

/* BAR CONNECTED TO SCORE */
.score_bar_wrap {
	width: 100%;
	height: 5px;
	background: #d5b000;
	margin-top: 5px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
.score_bar {
    width: 95%;
    background: #fff;
	/* position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	background: #fff;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px; */
}

/*  */
.points {
	width: 100px;
	color: #3a3d51;
}











/* ============================================================================= */
/* ================================ ___________ ================================ */
/* ============================================================================= */
@media screen and (max-width: 650px) {

}