/*
 * HTML5 and CSS1
 *
 * CSS Styles
 *
 *
 * Author: Georgy Batyrev
 *
 */

/*
Template v83 21/09/2022, 11:45:55
*/
:root {

  /**
   * colors
   */

  --blunderGreen: #0e5b05;
  --blunderBlack: #101820ff;
  --blunderBiege: #E7E3DA;


}


* {
  font-family: 'Gotham', sans-serif;
  overscroll-behavior: none;
  color: var(--blunderBiege);

  transition: 250ms;

  margin: 5px;
}

body {
  background-color: var(--blunderBlack);

}

/*--The follwing header belongs to the browser page--*/
.website-header {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: left;

  height: 10vh;

  width: 99%;

  letter-spacing: 3px;
  background: var(--blunderBlack);
  border: 1mm ridge var(--blunderBiege);

}

.website-header img {
  margin-left: -15px;
  width: 90px;
  height: 90px;
}

.website-header h1 {
  margin-left: 10px;
  font-size: 15px;
  color: var(--blunderBiege);
}

.website-header h2 {
  margin-left: -20px;
  font-size: 15px;
  color: var(--blunderBiege);

}

canvas {
  width: 72%;
  height: 100%;
  background: var(--blunderBlack);
  resize: both;
  overflow: auto;
}

.login,
.register {
  display: inline-flex;
  flex: row;
  padding: 10px 10px;
  margin-right: auto;
  margin-left: auto;
  color: var(--blunderBiege);

  letter-spacing: 1px;

  font-size: 8px;
  text-align: center;
  border: solid var(--blunderBiege);
  background-color: transparent;

}

/* .login:hover {
  background-color: var(--blunderBiege);
  color: #101820ff;
}
.register:hover {
  background-color:var(--blunderBiege);
  color: var(--blunderBlack);
} */
/*-------------------------------------------------------*/
/*--The follwing main body belongs to the browser page--*/

.website-content {
  /* background-color: var(--blunderBiege); */
  background-image: url(./images/banner.jpg);
  flex: 1 1 auto;
  box-shadow: 0 0 15px 15px var(--blunderBlack) inset;
  filter: brightness(90%);
}

.website-container-body {
  display: flex;


}

.website-container {
  flex: 1;

}

.programs {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h5 {
  color: var(--blunderBlack);
  font-size: 30px;
}

.row {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

h3 {
  color: var(--blunderBlack);
}

.programs-k1,
.programs-k2,
.programs-k3 {
  border: 1mm ridge var(--blunderBiege);

}

.programs-k1 {
  flex-basis: 30%;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 1s;
}

.programs-k1:hover {
  background-image: url(images/play.png);
  border: none;
}

.programs-k1 {
  background-image: url(images/play_banner.png);
  width: 100px;
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.programs-k2 {
  flex-basis: 30%;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 1s;
}

.programs-k2:hover {
  background-image: url(images/puzzle.png);
  border: none;
}


.programs-k2 {
  background-image: url(images/puzzle_banner.png);
  width: 100px;
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.programs-k3 {
  flex-basis: 30%;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 1s;
}

.programs-k3:hover {
  background-image: url(images/learn.png);
  border: none;
}

.programs-k3 {
  background-image: url(images/learn_banner.png);
  width: 100px;
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.w-sidebar {
  flex: 0 0 auto;
}


/*-------------------------------------------------------*/

/*--The follwing main body belongs to the browser page--*/

.game-preview .game-preview-choose {
  background: transparent;
}

.website-content img {

  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 400px;
  height: 400px;

}

.game-preview {
  font-size: 40px;

  padding-top: 30px;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.game-preview .game-preview-choose {
  background: transparent;
}


/*-------------------------------------------------------*/
/*--The follwing header belongs to the browser page--*/
.start {
  display: inline-block;
  flex: row;
  padding: 10px 15px;
  position: relative;
  margin-left: 250px;
  letter-spacing: 2px;

  font-size: 15px;
  text-align: center;
  background-color: #101820ff;

}


/*-------------------------------------------------------*/
/* .sidebar-2{

  background-image: url(./images/sidebar2.png);
  
  background-position: -300px 150px;
} */

.sidebar-1,
.sidebar-2 {
  border: 1mm ridge var(--blunderBiege);

}

.sidebar-1 {
  order: -1;


}

ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
}

ul li {
  padding: 6px 0;
}

ul li a {

  position: relative;
  display: block;
  padding: 2px 20px;
  font: 30px Raleway, sans-serif;
  margin-top: 20px;
  margin-left: -30px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--blunderBiege);
  background: linear-gradient(var(--blunderBiege) 0 100%) left/0 no-repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.5s linear;
}

ul li a:hover {
  background-size: 100%;
}





/*-------------------------------------------------------*/
.sidebar-2 img {
  width: 200px;
  height: 300px;
  object-fit: cover;

  display: block;

}

.sidebar-2 {
  background-color: #101820ff;
  text-align: center;


  padding-right: 20px;
  padding-left: 20px;
}

.sidebar-2 ul {
  max-width: 100%;
}

.sidebar-2 li {
  display: flex;
  padding: 15px 0;

  counter-increment: index;
  align-items: center;
}

.sidebar-2 li::before {


  font-size: 28px;
  text-align: right;

  min-width: 70px;
  padding-right: 15px;


}

.sidebar-2 li+li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/*-------------------------------------------------------*/
footer {
  width: 100%;
  position: static;

  background-color: var(--blunderBlack);
}

footer {
  bottom: 0;

  text-align: center;
}

footer h4 {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 15px;
}

.icons .fa {
  padding: 10px;

  color: var(--blunderBiege);
  cursor: pointer;
}