/*
 * HTML5 and CSS1
 *
 * CSS Styles
 *
 *
 * Author: Georgy Batyrev
 *
 */

/*
Template v83 21/09/2022, 11:45:55
*/
:root {

  /**
   * colors
   */

  --blunderGreen: #0e5b05;
  --blunderBlack: #101820ff;
  --blunderBiege: #E7E3DA;


}


* {
  font-family: 'Gotham', sans-serif;
  overscroll-behavior: none;
  color: var(--blunderBiege);
  transition: 250ms;

  margin: 5px;
}

body {
  background-image:linear-gradient(rgba(160, 164, 176, 0.5),
  rgba(160, 164, 176, 0.5)), url(/static/images/website/banner.jpg);

}

/*--The follwing header belongs to the browser page--*/
.website-header {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: left;

  height: 10vh;

  width: 99%;

  letter-spacing: 3px;
  background: var(--blunderBlack);
  border: 1mm ridge var(--blunderBiege);

}

.website-header img {
  margin-left: -15px;
  width: 90px;
  height: 90px;
}

.website-header h1 {
  margin-left: 10px;
  font-size: 15px;
  color: var(--blunderBiege);
}

.website-header h2 {
  margin-left: -20px;
  font-size: 15px;
  color: var(--blunderBiege);

}
h3 {
  color: var(--blunderBlack);
  text-align: center;
}

u {
  color: var(--blunderBiege);

}

p{
  color: var(--blunderBlack);
  text-align: center;

}
h4 {
  color: var(--blunderBiege);
  text-align: center;
}
h5 {
  color: var(--blunderBlack);
  font-size: 50px;
  text-align: center;
}

h6{
  color: var(--blunderBlack);
  font-size: 30px;
  text-align: center;


}

canvas {
  width: 100%;
  height: 100%;
  background: var(--blunderBlack);
  resize: both;
  overflow: auto;
}


.website-content-text {

  margin-left: auto;
  margin-right: auto;

}

/*-------------------------------------------------------*/
/*--The follwing main body belongs to the browser page--*/

.website-content {
  /* background-color: var(--blunderBiege); */
  flex: 1 1 auto;

}

.website-container-body {
  display: flex;


}

.website-container {
  flex: 1;

}

.programs {
  width: 100%;
  margin: auto;
  text-align: center;
}



.row {
  display: flex;
  justify-content: space-between;
}


.programs-k {
  flex-basis: 100%;
  border-radius: 10px;
  padding: 20px 12px;
  transition: 1s;
}

.programs-k {
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.w-sidebar {
  flex: 0 0 auto;
}


/*-------------------------------------------------------*/

/*--The follwing main body belongs to the browser page--*/

.website-content .top {

  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: -50px;
  width: 200px;
  height: 200px;

}

.website-content .width {

  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 400px;
  height: 400px;

}





/*-------------------------------------------------------*/
/*--The follwing header belongs to the browser page--*/
.start {
  display: inline-block;
  flex: row;
  width: 400px;
  padding: 10px 15px;
  position: relative;
  letter-spacing: 3px;

  font-size: 15px;
  text-align: center;
  background-color: #101820ff;


}


/*-------------------------------------------------------*/
.sidebar-1,
.sidebar-2 {
  border: 1mm ridge var(--blunderBiege);
  width: 200px;

}

.sidebar-1 {
  order: -1;
  background-color:var(--blunderBlack);


}
ul li img{
  width: 80px;
  height: 80px;

}
ul li {
  background-image:linear-gradient(rgba(160, 164, 176, 0.5),
  rgba(160, 164, 176, 0.5)), url(/static/images/website/banner.jpg) ;
  width: 120px;
  padding: 8px 10px;
  position: relative;
  letter-spacing: 2px;

  font-size: 15px;
  text-align: center;
  background-color: #101820ff;
  margin-left: -20px;
  margin-top: 30px;
  border: 1mm ridge var(--blunderBiege);

  

}

ul li a {
  position: relative;
  display: block;
  padding: 15px 16px;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--blunderBlack);
  background-clip: text;
}

a:link {
  text-decoration: none;
}


.ask{
  background-color: var(--blunderBlack);
  width: 400px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

/*-------------------------------------------------------*/

.sidebar-2 {
  background-color:var(--blunderBlack);
  text-align: center;


}
.step1{
  width: 500px;
  height: 500px;
  
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  }
  
  .step2{
    display: inline-block;
    flex: row;
    width: 150px;
    height: 50px;
    padding: 10px 15px;
    position: relative;
    letter-spacing: 3px;
  
    font-size: 15px;
    text-align: center;
    background-color: var(--blunderBlack);
  
  }

/*-------------------------------------------------------*/
footer {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: left;

height: fit-content;

  width: 99%;

  letter-spacing: 3px;
  background: var(--blunderBlack);
  border: 1mm ridge var(--blunderBiege);
}

.icons {
  align-items: center;
  color: var(--blunderBiege);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}


@import "https://use.fontawesome.com/releases/v5.0.10/css/all.css";
#sociallocker {
	text-align: center;
	position: relative;
	width: 99%;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius:10px;


}
#sociallocker-overlay {
	background-color: var(--blunderBlack);
	font-size: 30px;
	font-weight: bold;
	color: var(--blunderBiege);
	transition: all 0.2s ease;
  border: 1mm ridge var(--blunderBiege);
}
.lock{
  width: 400px;
  height: 400px;
  
}
#sociallocker:hover #sociallocker-overlay {
	top: -120%;
	transition: all 0.2s linear;
}
#sociallocker:hover #sociallocker-content {
	top: 100%;
	transition: all 0.2s linear;
}

#sociallocker-overlay,
#sociallocker-content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
}
#sociallocker-content {
	transition: all 0.2s ease;
}



