/*
 * HTML5 and CSS1
 *
 * CSS Styles
 *
 *
 * Author: Georgy Batyrev
 *
 */

/*
Template v83 21/09/2022, 11:45:55
*/
:root {

  /**
   * colors
   */

  --blunderGreen: #0e5b05;
  --blunderBlack: #101820ff;
  --blunderBiege: #E7E3DA;
  --blunderBlue:  #18204c;
  --blunderLightBlue: #6e99c0;
  --blunderLightLightBlue: #dae9f2;
}


* {
  font-family: 'Gotham', sans-serif;
  overscroll-behavior: none;
  color: var(--blunderBiege);
  transition: 250ms;

  margin: 5px;
}

body {
  background-image:linear-gradient(rgba(160, 164, 176, 0.5),
  rgba(160, 164, 176, 0.5)), url(/static/images/website/banner.jpg);

}

/*--The follwing header belongs to the browser page--*/
.website-header {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: left;

  height: 10vh;

  width: 99%;

  letter-spacing: 3px;
  background: var(--blunderBlack);
  border: 1mm ridge var(--blunderBiege);

}

.logo {
  margin-left: -15px;
  width: 90px;
  height: 90px;
}

.website-header h1 {
  margin-left: 10px;
  font-size: 15px;
  color: var(--blunderBiege);
}

.website-header h2 {
  margin-left: -20px;
  font-size: 15px;
  color: var(--blunderBiege);

}

.profile{
margin-left: auto;
margin-right: auto;
align-items: center;
}
.profile-pic {
width: 80px;
height: 80px;


}
.profile h1{
  font-size: 20px;
  margin-top: auto;

}

h3 {
  color: var(--blunderBlack);
  text-align: center;
  font-size: 20px;
}

u {
  color: var(--blunderBiege);

}

p{
  color: var(--blunderBlack);
  text-align: center;

}
h4 {
  color: var(--blunderBiege);
  text-align: center;
}
h5 {
  color: var(--blunderBlack);
  font-size: 50px;
  text-align: center;
}

h6{
  color: var(--blunderBlack);
  font-size: 30px;
  text-align: center;


}

canvas {
  width: 80%;
  height: 100%;
  background: var(--blunderBlack);
  resize: both;
  overflow: auto;
}


.website-content-text {

  margin-left: auto;
  margin-right: auto;
width: 80%;
}

/*-------------------------------------------------------*/
/*--The follwing main body belongs to the browser page--*/

.website-content {
  /* background-color: var(--blunderBiege); */
  flex: 1 1 auto;

}

.website-container-body {
  display: flex;



}

.website-container {
  flex: 1;

}

.programs {
  width: 100%;
  margin: auto;
  text-align: center;
}



.row {
  display: flex;
  justify-content: space-between;
}


.programs-k {
  flex-basis: 100%;
  border-radius: 10px;
  padding: 20px 12px;
  transition: 1s;
}

.programs-k {
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.w-sidebar {
  flex: 0 0 auto;
}


/*-------------------------------------------------------*/

/*--The follwing main body belongs to the browser page--*/

.top {

  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: -50px;
  width: 200px;
  height: 200px;

}

.website-content .width {

  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 350px;
  height: 350px;

}





/*-------------------------------------------------------*/
/*--The follwing header belongs to the browser page--*/
.start {
  display: inline-block;
  flex: row;
  width: 400px;
  padding: 10px 15px;
  position: relative;
  letter-spacing: 3px;

  font-size: 15px;
  text-align: center;
  background-color: #101820ff;


}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .start{background-color: #3e8e41;}

/*-------------------------------------------------------*/


.sidebar-1 {
  width: 200px;
  border: 1mm ridge var(--blunderBiege);
  order: -1;
  background-color:var(--blunderBlack);


}

ul li {
  background-image:linear-gradient(rgba(160, 164, 176, 0.5),
  rgba(160, 164, 176, 0.5)), url(/static/images/website/banner.jpg) ;
  width: 120px;
  padding: 8px 10px;
  position: relative;
  letter-spacing: 2px;

  font-size: 15px;
  text-align: center;
  background-color: #101820ff;
  margin-left: -20px;
  margin-top: 30px;
  border: 1mm ridge var(--blunderBiege);

  

}

ul li a {
  position: relative;
  display: block;
  padding: 15px 16px;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--blunderBlack);
  background-clip: text;
}

a:link {
  text-decoration: none;
}


.ask{
  background-color: var(--blunderBlack);
  width: 400px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

/*-------------------------------------------------------*/

.sidebar-2 {
  background-color:transparent;
  text-align: center;

}
.step1{
  width: 500px;
  height: 500px;
  
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  }
  
  .step2{
    display: inline-block;
    flex: row;
    width: 150px;
    height: 50px;
    padding: 10px 15px;
    position: relative;
    letter-spacing: 3px;
  
    font-size: 15px;
    text-align: center;
    background-color: var(--blunderBlack);
  
  }

/*-------------------------------------------------------*/
footer {
  display: inline-flex;
  align-items: center;
  justify-content: left;


  width: 99%;
 height: 100px;
  letter-spacing: 3px;
  background: var(--blunderBlack);
  border: 1mm ridge var(--blunderBiege);
}

.icons {
  align-items: center;
  color: var(--blunderBiege);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}


@import "https://use.fontawesome.com/releases/v5.0.10/css/all.css";
#sociallocker {
	text-align: center;
	position: relative;
	width: 99%;
	height: 900px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;


}
#sociallocker-overlay {
  background-image:linear-gradient(rgba(160, 164, 176, 0.5),
  rgba(160, 164, 176, 0.5)), url(/static/images/website/banner.jpg);
	font-size: 30px;
	font-weight: bold;
	color: var(--blunderBlack);
	transition: all 0.2s ease;
}
.lock{
  width: 400px;
  height: 400px;
  
}
#sociallocker:hover #sociallocker-overlay {
	top: -120%;
	transition: all 0.2s linear;
}
#sociallocker:hover #sociallocker-content {
	top: 100%;
	transition: all 0.2s linear;
}

#sociallocker-overlay,
#sociallocker-content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
}
#sociallocker-content {
	transition: all 0.2s ease;
}


/* ---------- Separate the various parts of the website ---------- */


/* ----- SCOREBOARD ----- */
/*  */


/*  */
.inner_board_section {
background: transparent;
margin-left: auto;
margin-right: auto;
align-items: center;
height: auto;

}

/*  */
.board_content {
display: flex;
align-items: center; 
padding: 15px 0;
background-color: transparent;
backdrop-filter: blur(1px);
border: 1mm ridge var(--blunderBlack);
}
.board_content:first-child {
padding-top: 0;
}
.board_content:last-child {
padding-bottom: 0;
}
.board_content img {
display: block;
width: 100%;
}
.img {
width: 50px;
}

/*  */
.player {
width: calc(100% - 150px);
}
.player p {
color: var(--blunderBlack);
}

/* BAR CONNECTED TO SCORE */
.score_bar_wrap {
width: 100%;
height: 5px;
background: transparent;
margin-top: 5px;
border-radius: 5px;
position: relative;
overflow: hidden;
}
.score_bar {
  width: 95%;
  background: #fff;
/* position: absolute;
top: 0;
left: 0;
height: 5px;
background: #fff;
border-radius: 5px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px; */
}

/*  */
.points {
width: 100px;
color: #3a3d51;
}











/* ============================================================================= */
/* ================================ ___________ ================================ */
/* ============================================================================= */

.collaboration{
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.blundercom{
  width: 170px;
  height: 170px;

  }


.preview{

    width: 100%;
    margin: auto;
    text-align: center;
 
  
  
  

    display: flex;
    justify-content: space-between;
}

.chessboard {
  width: 642px;
  height: 642px;
  border: 20px solid var(--blunderBlack);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.black {
  float: left;
  width: 80px;
  height: 80px;
  background-color: var(--blunderLightBlue);
    font-size:50px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
  margin: 0.1px!important;
}
.white {
  float: left;
  width: 80px;
  height: 80px;
  background-color: var(--blunderLightLightBlue);
  font-size:50px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
  margin: 0.1px !important;
}
.chesspiece{
  background: transparent;
  border: none;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

#myDIV{
  width: 640px;
  height: 640px;

}

.whiteboard{
  backdrop-filter: blur(2px);
  
}

.window{
  width: 325px;
  height: 325px;

  

}